body {
  font-family: Arial;
  margin: 0;
  background: #1e1402;
  text-align: center;
}
header {
  background: #bb9e6c;
  color: #efe5d3;
  padding: 20px;
}
.profile {
  background: #bb9e6c;
  margin: 30px auto;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
}
img {
  width: 350px;
  border-radius: 5%;
}
footer {
  margin-top: 30px;
  color: gray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}